<!doctype html>
<head>
    <title>BoardingPass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>
<body>
<div class="nav-bar">
    Welcome to the Boarding
    <button onclick="window.location.href='/'">Home</button>
    <button onclick="window.location.href='/table'">Table</button>
</div>
<hr/>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Points</th>
            {% for day in DAYS %}
            <th>{{day}}</th>
            {% endfor %}
        </tr>
        {% for user in data %}
        <tr>
            <th>{{user.name}}</th>
            <td>{{user.points}}</td>
            {% for key, value in user.days.items() %}
            <td class="{{value}}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <hr/>
    <table>
        <tr>
            <h3>OVERALL</h3>
        </tr>
        <tr>
            {% for day in DAYS %}
            <th>{{day}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in options.items() %}
            <td>{% for name in value %}{{name}}
                <br>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
    </table>
</div>
</body>
