*{
    background: #a6aeb5;
    font-size: xxx-large;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    text-align: center;
}

div{
    background: cadetblue;
    border-radius: 5px;
}


label{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}


label[class="on"]{
    background: #7ad67a;
}

label[class="on"]:hover{
    background: #60ba60;
}


label[class="off"]{
    background: #d93b3b;
}

label[class="off"]:hover{
    background: #b03535;
}

button{
    padding-left: 100px;
    padding-right: 100px;
    align-self:auto;
    margin-top: 90px;
    background: #a5d0f3;
}

button:hover{
    background: #5fa2d7;
}