@bg-color: #b5c1c8;
@div-color: darken(@bg-color, 5%);
@shadow-color: #61686d;
@button-color: #7c9cdd;
@on-color: #7ad67a;
@off-color: #d93b3b;


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


* {
    background: @bg-color;
    font-size: xxx-large;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    text-align: center;
}

button, input[type='submit'] {
    padding-left: 100px;
    padding-right: 100px;
    background: @button-color;
    box-shadow: 5px 5px 5px @shadow-color;

    &:hover {
        background: darken(@button-color, 5%);
        box-shadow: 5px 5px 4px darken(@shadow-color, 10%);
    }

    &:focus {
        background: darken(@button-color, 10%);
        box-shadow: 5px 5px 3px darken(@shadow-color, 20%);
    }
}

div {
    background: @div-color;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;

    &.nav-bar {
        background: darken(@div-color, 30%);
        width: 100%;
        border-radius: unset;
        font-weight: bold;
        padding: 10px;

        & > button {
            background: darken(@div-color, 10%);
            padding-left: unset;
            padding-right: unset;
            display: compact;
        }
    }
}

label {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px @shadow-color;

    &.off {
        background: @off-color;

        &:hover {
            background: darken(@off-color, 5%);
            box-shadow: 5px 5px 4px darken(@shadow-color, 10%);
        }

        &:active {
            background: darken(@off-color, 10%);
            box-shadow: 5px 5px 3px darken(@shadow-color, 20%);
        }
    }

    &.on {
        background: @on-color;

        &:hover {
            background: darken(@on-color, 5%);
            box-shadow: 5px 5px 4px darken(@shadow-color, 10%);
        }

        &:active {
            background: darken(@on-color, 10%);
            box-shadow: 5px 5px 3px darken(@shadow-color, 20%);
        }
    }
}